head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='title', content=`${ title }`)
    meta(name='description', content=`${ description }`)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:type', content='website')
    meta(property='og:url', content=`${ siteLink }`)
    meta(property='og:title', content=`${ title }`)
    meta(property='og:description', content=`${ description }`)
    meta(property='og:image', content=`${ siteLink }` + '/lucas-sukeyosi-802x887.jpg')
    meta(property="og:locale", content="en_US")
    meta(property='og:site_name', content='lusuke')
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content=`${ siteLink }`)
    meta(property='twitter:title', content=`${ title }`)
    meta(property='twitter:image', content=`${ siteLink }` + '/lucas-sukeyosi-802x887.jpg')
    meta(name="twitter:site", content="@lusuke")
    meta(name='twitter:image:src', content=`${ siteLink }` + '/lucas-sukeyosi-802x887.jpg')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content=`${ title }`)
    meta(name='twitter:description', content=`${ description }`)
    meta(name="keywords", content="ui developer, ux developer, ui designer, web designer, designer, economist")
    meta(name="author", content="Lucas Sukeyosi")
    meta(name="theme-color", content="#efefe6")
    meta(name="msapplication-TileColor", content="#da532c")
    link(rel="apple-touch-icon", sizes="180x180", href="assets/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/favicon/favicon-16x16.png")
    link(rel="manifest", href="assets/favicon/site.webmanifest")
    link(rel="mask-icon", href="assets/favicon/safari-pinned-tab.svg", color="#1c1c1c")
    link(rel="shortcut icon", href="assets/favicon/favicon.ico")
    meta(property='twitter:description', content='Website Lucas Sukeyosi - Designer with a degree in Economics')
    //- Add css flickity
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css")
    link(rel="stylesheet", href="scss/main.scss")
    //- link(rel="stylesheet", href=`scss/${ current.source }.css`)
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syncopate:wght@400;700&display=swap" rel="stylesheet")
    title #{ siteName }