picture
    source(media="(max-width: 1024px)", data-srcset=`${ perfilHomeMobileWebp }` type="image/webp")
    source(data-srcset=`${ perfilHomeDesktopWebp }` type="image/webp")
    source(media="(max-width: 1024px)", srcset=`${ perfilHomeMobileJpg }` type="image/jpg")
    source(data-srcset=`${ perfilHomeDesktopJpg }` type="image/jpg")
    img(src="assets/1x1.gif", data-src=`${ perfilHomeDesktopJpg }`, alt="Hi, here's a photo of Lucas Sukeyosi studying economics in your office, under your desk have some books of behavior economics" class="lazyload")