div.main__view <!-- slideshow-container -->
            if image1
                div(class=`${classSlide} fade`).main__view--slide <!-- mySlides1 fade -->
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image1 }-327x184.jpg?as=webp 327w, url:assets/${ image1 }-492x277.jpg?as=webp 492w, url:assets/${ image1 }-720x405.jpg?as=webp 720w, url:assets/${ image1 }-976x549.jpg?as=webp 976w, url:assets/${ image1 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image1 }-327x184.jpg 327w, assets/${ image1 }-492x277.jpg 492w, assets/${ image1 }-720x405.jpg 720w, assets/${ image1 }-976x549.jpg 976w, assets/${ image1 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", role="portfolio", alt=`${ alt1 }`)
                    //- img(src=`url:assets/${image1}.jpg?as=webp&width=1350`, alt=`${alt1}`, width="1350")
            if image2
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image2}.jpg?as=webp&width=1350`, alt=`${alt2}`, width="1350")
            if image3
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image3}.jpg?as=webp&width=1350`, alt=`${alt3}`, width="1350")
            if image4
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image4}.jpg?as=webp&width=1350`, alt=`${alt4}`, width="1350")
            if image5
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image5}.jpg?as=webp&width=1350`, alt=`${alt5}`, width="1350")
            if image6
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image6}.jpg?as=webp&width=1350`, alt=`${alt6}`, width="1350")
            if image7
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image7}.jpg?as=webp&width=1350`, alt=`${alt7}`, width="1350")
            if image8
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image8}.jpg?as=webp&width=1350`, alt=`${alt8}`, width="1350")
            if image9
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image9}.jpg?as=webp&width=1350`, alt=`${alt9}`, width="1350")
            if image10
                div(class=`${classSlide} fade`).main__view--slide
                    img(src=`url:assets/${image10}.jpg?as=webp&width=1350`, alt=`${alt10}`, width="1350")


if image2
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image2 }-327x184.jpg?as=webp 327w, url:assets/${ image2 }-492x277.jpg?as=webp 492w, url:assets/${ image2 }-720x405.jpg?as=webp 720w, url:assets/${ image2 }-976x549.jpg?as=webp 976w, url:assets/${ image2 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                            source(srcset=`assets/${ image2 }-327x184.jpg 327w, assets/${ image2 }-492x277.jpg 492w, assets/${ image2 }-720x405.jpg 720w, assets/${ image2 }-976x549.jpg 976w, assets/${ image2 }-1350x759.jpg 1350w`, type="image/jpg")
                            img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt2 }`)
                if image3
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image3 }-327x184.jpg?as=webp 327w, url:assets/${ image3 }-492x277.jpg?as=webp 492w, url:assets/${ image3 }-720x405.jpg?as=webp 720w, url:assets/${ image3 }-976x549.jpg?as=webp 976w, url:assets/${ image3 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                            source(srcset=`assets/${ image3 }-327x184.jpg 327w, assets/${ image3 }-492x277.jpg 492w, assets/${ image3 }-720x405.jpg 720w, assets/${ image3 }-976x549.jpg 976w, assets/${ image3 }-1350x759.jpg 1350w`, type="image/jpg")
                            img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt3 }`)
                if image4-
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image3 }-327x184.jpg?as=webp 327w, url:assets/${ image3 }-492x277.jpg?as=webp 492w, url:assets/${ image3 }-720x405.jpg?as=webp 720w, url:assets/${ image3 }-976x549.jpg?as=webp 976w, url:assets/${ image3 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                            source(srcset=`assets/${ image3 }-327x184.jpg 327w, assets/${ image3 }-492x277.jpg 492w, assets/${ image3 }-720x405.jpg 720w, assets/${ image3 }-976x549.jpg 976w, assets/${ image3 }-1350x759.jpg 1350w`, type="image/jpg")
                            img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt3 }`)