mixin work(client, roles, roles1, roles2, roles3, roles4, roles5, enterprise, text, classSlide, navDot, indexDot, image1, image2, image3, image4, image5, image6, image7, image8, image9, image10, alt1, alt2, alt3, alt4, alt5, alt6, alt7, alt8, alt9, alt10)
    div.main__service.service
        div.service__header
            div.service__header--left
                p.main__service--title Client
                p.main--normal #{client}
            div.service__header--right
                p.main__service--title My Roles
                ul
                    if roles
                        li.main--normal #{roles}
                    if roles1
                        li.main--normal #{roles1}
                    if roles2
                        li.main--normal #{roles2}
                    if roles3
                        li.main--normal #{roles3}
                    if roles4
                        li.main--normal #{roles4}
                    if roles5
                        li.main--normal #{roles5}
                
        div.service__contents
            p.main--header.service__contents--header #{enterprise}
            p.service__contents--text.
                #{text}
        div.main__view <!-- slideshow-container -->
            if image1
                div(class=`${classSlide} fade`).main__view--slide <!-- mySlides1 fade -->
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image1 }-327x184.jpg?as=webp 327w, url:assets/${ image1 }-492x277.jpg?as=webp 492w, url:assets/${ image1 }-720x405.jpg?as=webp 720w, url:assets/${ image1 }-976x549.jpg?as=webp 976w, url:assets/${ image1 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image1 }-327x184.jpg 327w, assets/${ image1 }-492x277.jpg 492w, assets/${ image1 }-720x405.jpg 720w, assets/${ image1 }-976x549.jpg 976w, assets/${ image1 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt1 }`)
            if image2
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image2 }-327x184.jpg?as=webp 327w, url:assets/${ image2 }-492x277.jpg?as=webp 492w, url:assets/${ image2 }-720x405.jpg?as=webp 720w, url:assets/${ image2 }-976x549.jpg?as=webp 976w, url:assets/${ image2 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image2 }-327x184.jpg 327w, assets/${ image2 }-492x277.jpg 492w, assets/${ image2 }-720x405.jpg 720w, assets/${ image2 }-976x549.jpg 976w, assets/${ image2 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt2 }`)
            if image3
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image3 }-327x184.jpg?as=webp 327w, url:assets/${ image3 }-492x277.jpg?as=webp 492w, url:assets/${ image3 }-720x405.jpg?as=webp 720w, url:assets/${ image3 }-976x549.jpg?as=webp 976w, url:assets/${ image3 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image3 }-327x184.jpg 327w, assets/${ image3 }-492x277.jpg 492w, assets/${ image3 }-720x405.jpg 720w, assets/${ image3 }-976x549.jpg 976w, assets/${ image3 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt3 }`)
            if image4
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image4 }-327x184.jpg?as=webp 327w, url:assets/${ image4 }-492x277.jpg?as=webp 492w, url:assets/${ image4 }-720x405.jpg?as=webp 720w, url:assets/${ image4 }-976x549.jpg?as=webp 976w, url:assets/${ image4 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image4 }-327x184.jpg 327w, assets/${ image4 }-492x277.jpg 492w, assets/${ image4 }-720x405.jpg 720w, assets/${ image4 }-976x549.jpg 976w, assets/${ image4 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt4 }`)
            if image5
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image5 }-327x184.jpg?as=webp 327w, url:assets/${ image5 }-492x277.jpg?as=webp 492w, url:assets/${ image5 }-720x405.jpg?as=webp 720w, url:assets/${ image5 }-976x549.jpg?as=webp 976w, url:assets/${ image5 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image5 }-327x184.jpg 327w, assets/${ image5 }-492x277.jpg 492w, assets/${ image5 }-720x405.jpg 720w, assets/${ image5 }-976x549.jpg 976w, assets/${ image5 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt5 }`)
            if image6
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image6 }-327x184.jpg?as=webp 327w, url:assets/${ image6 }-492x277.jpg?as=webp 492w, url:assets/${ image6 }-720x405.jpg?as=webp 720w, url:assets/${ image6 }-976x549.jpg?as=webp 976w, url:assets/${ image6 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image6 }-327x184.jpg 327w, assets/${ image6 }-492x277.jpg 492w, assets/${ image6 }-720x405.jpg 720w, assets/${ image6 }-976x549.jpg 976w, assets/${ image6 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt6 }`)
            if image7
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image7 }-327x184.jpg?as=webp 327w, url:assets/${ image7 }-492x277.jpg?as=webp 492w, url:assets/${ image7 }-720x405.jpg?as=webp 720w, url:assets/${ image7 }-976x549.jpg?as=webp 976w, url:assets/${ image7 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image7 }-327x184.jpg 327w, assets/${ image7 }-492x277.jpg 492w, assets/${ image7 }-720x405.jpg 720w, assets/${ image7 }-976x549.jpg 976w, assets/${ image7 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt7 }`)
            if image8
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image8 }-327x184.jpg?as=webp 327w, url:assets/${ image8 }-492x277.jpg?as=webp 492w, url:assets/${ image8 }-720x405.jpg?as=webp 720w, url:assets/${ image8 }-976x549.jpg?as=webp 976w, url:assets/${ image8 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image8 }-327x184.jpg 327w, assets/${ image8 }-492x277.jpg 492w, assets/${ image8 }-720x405.jpg 720w, assets/${ image8 }-976x549.jpg 976w, assets/${ image8 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt8 }`)
            if image9
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image9 }-327x184.jpg?as=webp 327w, url:assets/${ image9 }-492x277.jpg?as=webp 492w, url:assets/${ image9 }-720x405.jpg?as=webp 720w, url:assets/${ image9 }-976x549.jpg?as=webp 976w, url:assets/${ image9 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image9 }-327x184.jpg 327w, assets/${ image9 }-492x277.jpg 492w, assets/${ image9 }-720x405.jpg 720w, assets/${ image9 }-976x549.jpg 976w, assets/${ image9 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt9 }`)
            if image10
                div(class=`${classSlide} fade`).main__view--slide
                    picture
                        source(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", srcset=`url:assets/${ image10 }-327x184.jpg?as=webp 327w, url:assets/${ image10 }-492x277.jpg?as=webp 492w, url:assets/${ image10 }-720x405.jpg?as=webp 720w, url:assets/${ image10 }-976x549.jpg?as=webp 976w, url:assets/${ image10 }-1350x759.jpg?as=webp 1350w`, type="image/webp")
                        source(srcset=`assets/${ image10 }-327x184.jpg 327w, assets/${ image10 }-492x277.jpg 492w, assets/${ image10 }-720x405.jpg 720w, assets/${ image10 }-976x549.jpg 976w, assets/${ image10 }-1350x759.jpg 1350w`, type="image/jpg")
                        img(sizes="(max-width:375px) 327px, (min-width:376px) and (max-width:540px) 492px, (min-width:541px) and (max-width:768px) 720px, (min-width:769px) and (max-width:1024px) 976px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt10 }`)
                    
            a(class="main__view--prev", onclick=`plusSlides(-1, ${ indexDot })`) &#10094;
            a(class="main__view--next", onclick=`plusSlides(1, ${ indexDot })`) &#10095;
        
            .main__view--dot
                if image1
                    span(class=`${ navDot } dot`, onclick=`currentSlide(1, ${ indexDot } )`)
                if image2
                    span(class=`${ navDot } dot`, onclick=`currentSlide(2, ${ indexDot } )`)
                if image3
                    span(class=`${ navDot } dot`, onclick=`currentSlide(3, ${ indexDot })`)
                if image4
                    span(class=`${ navDot } dot`, onclick=`currentSlide(4, ${ indexDot })`)
                if image5
                    span(class=`${ navDot } dot`, onclick=`currentSlide(5, ${ indexDot })`)
                if image6
                    span(class=`${ navDot } dot`, onclick=`currentSlide(6, ${ indexDot })`)
                if image7
                    span(class=`${ navDot } dot`, onclick=`currentSlide(7, ${ indexDot })`)
                if image8
                    span(class=`${ navDot } dot`, onclick=`currentSlide(8, ${ indexDot })`)
                if image9
                    span(class=`${ navDot } dot`, onclick=`currentSlide(9, ${ indexDot })`)
                if image10
                    span(class=`${ navDot } dot`, onclick=`currentSlide(10, ${ indexDot })`)



//- Script do código acima
<script>
    var slideIndex = [1, 1];
    var slideId = ["slider1", "slider2"];
    var dotsId = ["dots1", "dots2"];
    showSlides(1, 0);
    showSlides(1, 1);
    // showSlides(1, 2);

    function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
    }

    function currentSlide(n, no) {
        showSlides(slideIndex[no] = n, no);
    }

    function showSlides(n, no) {
        var i;
        var slides = document.getElementsByClassName(slideId[no]);
        var dots = document.getElementsByClassName(dotsId[no]);
        if (n > slides.length) { slideIndex[no] = 1 }
        if (n < 1) { slideIndex[no] = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i <script dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex[no] - 1].style.display = "block";
        dots[slideIndex[no] - 1].className += " active";
    }
</script>


CSS

.main {
    &__view {
        width: 100%;
        max-width: 1350px;
        // padding: 1.5rem;
        box-sizing: border-box;
        position: relative;
        margin: 2.5rem auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--slide {
            max-width: 1400px;
            width: 100%;
            display: none;
            & img {
                width: 100%;
                max-width: 1350px;
                vertical-align: middle;
            }
        }
        &--dot {
            margin: 1.5rem auto;
            width: fit-content;
            display: none;
        }
        &--prev,
        &--next {
            cursor: pointer;
            position: absolute;
            // bottom: 50%;
            width: auto;
            color: $black;
            font-weight: bold;
            font-size: 2rem;
            transition: 0.6s ease-in-out;
            border-radius: 0 3px 3px 0;
            user-select: none;
            padding: 1.5rem 2rem;
        }
        &--prev {
            left: 0;
        }
        &--next {
            right: 0; //right: 1.55rem
            border-radius: 3px 0 0 3px;
        }
        &--prev:hover,
        &--next:hover {
            background-color: rgba(117, 185, 165, 0.8);
        }
    }
    @media screen and (max-width: 1255px) {
        &__view {
            &--prev, &--next {
                padding: 0.3rem 0.8rem;
                font-size: 1.3rem;
          
            }
        }
    }
}
.dot {
    cursor: pointer;
    height: 1.5rem; // SEO 48px
    width: 1.5rem; // SEO 48px
    // padding: 0.75rem 0.75rem; //necessário 48px para max SEO
    background-color: #DBDBDB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin: 0 0.5rem;
    &:hover {
        background-color: #717171;
    }
}
.active {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}