mixin work(client, roles, roles1, roles2, roles3, roles4, roles5, enterprise, text, classuda, image1, image2, image3, image4, image5, alt1, alt2, alt3, alt4, alt5)
    div.main__service.service
        div.service__header
            div.service__header--left
                p.main__service--title Client
                p.main--normal #{client}
            div.service__header--right
                p.main__service--title My Roles
                ul
                    if roles
                        li.main--normal #{roles}
                    if roles1
                        li.main--normal #{roles1}
                    if roles2
                        li.main--normal #{roles2}
                    if roles3
                        li.main--normal #{roles3}
                    if roles4
                        li.main--normal #{roles4}
                    if roles5
                        li.main--normal #{roles5}
                
        div.service__contents
            p.main--header #{enterprise}
            p.service__contents--text.
                #{text}
        div.main__view
            div(id="slider", class=`${classuda}`)
                .main__slider--slide
                    img(src=`url:assets/${image1}.jpg?as=webp`, alt=`${alt1}` class="selected")
                .main__slider--slide
                    img(src=`url:assets/${image2}.jpg?as=webp`, alt=`${alt2}` class="")
                .main__slider--slide
                    img(src=`url:assets/${image3}.jpg?as=webp`, alt=`${alt3}` class="")
                .main__slider--slide
                    img(src=`url:assets/${image4}.jpg?as=webp`, alt=`${alt4}` class="")
                .main__slider--slide
                    img(src=`url:assets/${image5}.jpg?as=webp`, alt=`${alt5}` class="")
            .main__slider--simpledot(role="tablist")