mixin work(client, roles, roles1, roles2, roles3, roles4, roles5, enterprise, text, image1, image2, image3, image4, image5, image6, image7, image8, image9, image10, alt1, alt2, alt3, alt4, alt5, alt6, alt7, alt8, alt9, alt10)
    div.main__service.service
        div.service__header
            div.service__header--left
                p.main__service--title Client
                p.main--normal #{client}
            div.service__header--right
                p.main__service--title My Roles
                ul
                    if roles
                        li.main--normal #{roles}
                    if roles1
                        li.main--normal #{roles1}
                    if roles2
                        li.main--normal #{roles2}
                    if roles3
                        li.main--normal #{roles3}
                    if roles4
                        li.main--normal #{roles4}
                    if roles5
                        li.main--normal #{roles5}
                
        div.service__contents
            p.main--header.service__contents--header #{enterprise}
            p.service__contents--text.
                #{text}
        div.carousel__container <!-- .main__view -->
            div.carousel
                if image1
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image1 }-1020x574.jpg?as=webp 1020w, url:assets/${ image1 }-1660x934.jpg?as=webp 1024w, url:assets/${ image1 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image1 }-1020x574.jpg 1020w, assets/${ image1 }-1660x934.jpg 1660w, assets/${ image1 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt1 }`)
                if image2
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image2 }-1020x574.jpg?as=webp 1020w, url:assets/${ image2 }-1660x934.jpg?as=webp 1024w, url:assets/${ image2 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image2 }-1020x574.jpg 1020w, assets/${ image2 }-1660x934.jpg 1660w, assets/${ image2 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt2 }`)
                if image3
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image3 }-1020x574.jpg?as=webp 1020w, url:assets/${ image3 }-1660x934.jpg?as=webp 1024w, url:assets/${ image3 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image3 }-1020x574.jpg 1020w, assets/${ image3 }-1660x934.jpg 1660w, assets/${ image3 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt3 }`)
                if image4
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image4 }-1020x574.jpg?as=webp 1020w, url:assets/${ image4 }-1660x934.jpg?as=webp 1024w, url:assets/${ image4 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image4 }-1020x574.jpg 1020w, assets/${ image4 }-1660x934.jpg 1660w, assets/${ image4 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt4 }`)
                if image5
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image5 }-1020x574.jpg?as=webp 1020w, url:assets/${ image5 }-1660x934.jpg?as=webp 1024w, url:assets/${ image5 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image5 }-1020x574.jpg 1020w, assets/${ image5 }-1660x934.jpg 1660w, assets/${ image5 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt5 }`)
                if image6
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image6 }-1020x574.jpg?as=webp 1020w, url:assets/${ image6 }-1660x934.jpg?as=webp 1024w, url:assets/${ image6 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image6 }-1020x574.jpg 1020w, assets/${ image6 }-1660x934.jpg 1660w, assets/${ image6 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt6 }`)
                if image7
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image7 }-1020x574.jpg?as=webp 1020w, url:assets/${ image7 }-1660x934.jpg?as=webp 1024w, url:assets/${ image7 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image7 }-1020x574.jpg 1020w, assets/${ image7 }-1660x934.jpg 1660w, assets/${ image7 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt7 }`)
                if image8
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image8 }-1020x574.jpg?as=webp 1020w, url:assets/${ image8 }-1660x934.jpg?as=webp 1024w, url:assets/${ image8 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image8 }-1020x574.jpg 1020w, assets/${ image8 }-1660x934.jpg 1660w, assets/${ image8 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt8 }`)
                if image9
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image9 }-1020x574.jpg?as=webp 1020w, url:assets/${ image9 }-1660x934.jpg?as=webp 1024w, url:assets/${ image9 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image9 }-1020x574.jpg 1020w, assets/${ image9 }-1660x934.jpg 1660w, assets/${ image9 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt9 }`)
                if image10
                    div.carousel-cell
                        picture
                            source(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 2300px", srcset=`url:assets/${ image10 }-1020x574.jpg?as=webp 1020w, url:assets/${ image10 }-1660x934.jpg?as=webp 1024w, url:assets/${ image10 }-2300x1924.jpg?as=webp 2300w`, type="image/webp")
                            source(srcset=`assets/${ image10 }-1020x574.jpg 1020w, assets/${ image10 }-1660x934.jpg 1660w, assets/${ image10 }-2300x1924.jpg 2300w`, type="image/jpg")
                            img(sizes="(max-width:540px) 1020px, (max-width:1024px) 1660px, 1350px", src="assets/1x1.gif", decoding="async", alt=`${ alt10 }`)